<nav class="p-3">
  <ul class="nav nav-pills">
    <li>
      <button routerLink="/accueil" class="btn btn-outline-success ms-1">Accueil<i class="bi bi-house text-success"></i></button>
    </li>

    <li>
      <button routerLink="/contact" class="btn btn-outline-success ms-1">Contact<i class="bi bi-arrow-down-up text-success"></i></button>
    </li>
    <li>
      <button routerLink="/factures" class="btn btn-outline-success ms-1">Factures<i class="bi text-success"></i></button>
    </li>
    <li>
      <button routerLink="/factures2" class="btn btn-outline-success ms-1">Liste des factures sans le tableau<i class="bi text-success"></i></button>
    </li>
  </ul>
</nav>

<router-outlet />
